{% extends '_layout' %}
{% block main %}

<div id="content">

<!-- ===================== CONTENT ===================== -->

<div class="content left">
	<div class="centered">
	<h1 class="button ribbon">{{entry.title}}<br/><span>{{entry.blogsubtitle}}</span></h1>
	{{entry.blogBody}}
	<p>Posted by <a href="#">{{ entry.author}}</a> on {{entry.postDate | date('M d, Y')}}</p>
	{% for category in entry.category %}
		<p>in <a href="{{ category.url }}">{{category}}</a></p>
	{% endfor %}
	
	</div>
</div>

{% endblock %}