{% extends '_layout' %}
{% block main %}
<div id="content">
	

<!-- ===================== CONTENT ===================== -->

<div class="content left">
	<div class="centered">
	<h1 class="button ribbon">{{entry.title}}<br/></h1>
	{{entry.pageCopy}}
	<p>Posted by <a href="#">{{ entry.author}}</a> on {{entry.postDate | date('M d, Y')}}</p>
	</div>
</div>
{% set thumb = {
    mode: 'crop',
    width: 400,
    height: 500,
    quality: 75,
    position: 'top-center'
} %}
	
	{% set image = entry.pageimage.one() %}

		{% if image %}
		<img src="{{ image.getUrl(thumb) }}" width="{{ image.getWidth(thumb) }}" height="{{ image.getHeight(thumb) }}">
		{% endif %}
	
</div>
{% endblock %}