<html lang="de">
<head>
	{# SEO Start #}
	{%- if seo is not defined and entry is defined and entry["seo"] is defined %}
		{% set seo = entry.seo %}
	{% endif %}
	{% if seo is not defined or seo is null or seo.title == "" %}
		{% set seo = craft.seo.custom(siteName, '', false) %}
	{% endif -%}

	{% set social = craft.seo.social(seo) %}
	{% set locale = craft.app.locale %}
	{% set locales = craft.app.i18n.siteLocaleIds|without(locale) %}

	<title>{{ seo.title }}</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" async href="./css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Playfair+Display" rel="stylesheet">
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ seo.description }}" />
	
	{% set fb = social.facebook -%}
	<meta property="fb:app_id" content="{# TODO: Facebook App ID #}">
	<meta property="og:url" content="{{ craft.app.request.pathInfo }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ fb.title }}" />
	<meta property="og:image" content="{{ craft.seo.facebookImage(fb.image) }}" />
	<meta property="og:description" content="{{ fb.description }}" />
	<meta property="og:site_name" content="{{ siteName }}" />
	<meta property="og:locale" content="{{ locale }}" />
	{% for locale in locales -%}
		<meta property="og:locale:alternate" content="{{ locale }}" />
	{% endfor %}

	{% set tw = social.twitter -%}
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="{# TODO: Twitter Handle  #}" />
	<meta name="twitter:url" content="{{ craft.app.request.pathInfo }}" />
	<meta name="twitter:title" content="{{ tw.title }}" />
	<meta name="twitter:description" content="{{ tw.description }}" />
	<meta name="twitter:image" content="{{ craft.seo.twitterImage(tw.image) }}" />

	<link rel="home" href="{{ siteUrl }}" />
	<link rel="canonical" href="{{ craft.app.request.pathInfo }}">
	{# SEO End #}
	<meta http-equiv="language" content="de">
</head>
<body>
<header>
	<div class="logo-text"><a href="{{siteUrl}}" class="active"><img src="{{siteUrl}}svg/unravel.svg"></a></div>
	<nav>
		{% set entries = craft.entries.section('Homepage, pages').all() %}
		<ul id="nav">
			{% nav entry in entries %}
				<li {% if craft.app.request.absoluteUrl == entry.url %}class="active"{% endif %}><a href="{{entry.url}}">{{entry.title}}</a></li>
			{% endnav %}
		</ul>
	</nav>
</header>
{% block main %}

{% endblock %}

<footer>
	<div id="content">
	<div class="footer_text left">
		<h3>Cafe Cheri</h3>
	<div class="content left">
		Kurze Gasse 42 <br/>
		12345 Musterstetten<br/> 
		<br/>
		<span><b>0123/123456</b></span><br/>
		<a href="">mail@mail.mail</a><br/><br/>
		<a href=""><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
		<br/><br/>	
	</div>
	<div class="content right">
		<table>
			<tr>
				<td>DI-FR</td><td>8:00-19:00</td>
			</tr>
			<tr>
				<td>SA</td><td>8:00-19:00</td>
			</tr>
			<tr>
				<td>SO</td><td>8:00-19:00</td>
			</tr>
			<tr>
				<td>MO</td><td>Geschlossen</td>
			</tr>
		</table>
	</div>
	</div>
</div>
<div id="map"></div>
<center style="padding-top:10px">
	<a href="" target="_blank">Impressum</a> | <a href="" target="_blank">Datenschutz</a>
</center>
</footer>
<script src="js/parallax.js"></script>
</html>