{% extends '_layout' %}
{% block main %}
<!-- ===================== HERO ===================== -->
{% set entry = craft.entries.section('Homepage').one %}
<div class="hero">
	<canvas id='canv'></canvas>
	<script src="js/index.js"></script>
   	<div class="w wave"></div>
    <div class="herotext">
	    <span class="gilroy">{{entry.heroslogan}}<div class="custom-hr"><span></span><div class="diamond"></div><span></span></div></span>
	    <h1>{{entry.herotitle|nl2br|raw}}</h1>
	</div>
	<div class="geometry">
		<svg class="hero-triangle">
  <rect x="0" y="0" width="100%" height="100%"
  style="fill:#fff;fill-opacity:0.1;" />
</svg>
	</div>
</div>
<script src="js/parallax.js"></script>
<script type="text/javascript">
   var checkedRadio;
	function ClearRd(o)
	{
	   if (checkedRadio == o)
	   {
	      o.checked = false;
	      checkedRadio = null;
	   } else {
	     checkedRadio = o;
	   }
	}
</script>
	<!-- ===================== 4-GRID ===================== -->
	<div class="herogrid wrapper-content">
		<h2 class="center">Lorem Ipsum</h2>
		<div class="custom-hr"><span></span><div class="diamond"></div><span></span></div>
		<div class="grid-check">
			<input type="radio" name="accDuvidas" id="accDuvidas-1" onclick="ClearRd(this)"/>
			<label for="accDuvidas-1">
				<div class="grid" >
					<div class="grid-content left">
						<div class="background_number">1</div>
						<h3>Kontakt & Erstgespräch</h3>
						<p>Lorem ipsum dolor sit amet</p>
						<span class="down"></span>
					</div>
					<div class="grid-content right" style="background-image: url({{ siteUrl }}img/contact-me.jpg)"></div>
				</div>		
			</label>
			<div class="grid-extend">
				<p>1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quia ipsum ea incidunt harum asperiores. Quos optio sed id necessitatibus quisquam cupiditate. Minus soluta facere necessitatibus quos perspiciatis ad? Harum?</p>
			</div>
		</div>
		<div class="grid-check">
			<input type="radio" name="accDuvidas" id="accDuvidas-2" onclick="ClearRd(this)" />
			<label for="accDuvidas-2">
				<div class="grid">
					<div class="grid-content right">
						<div class="background_number">2</div>
						<h3>Design</h3>
						<p>Lorem ipsum dolor sit amet</p>
						<span class="down"></span>
					</div>
					<div class="grid-content left" style="background-image: url({{ siteUrl }}img/mockup.jpg);background-position: center top;"></div>
				</div>
			</label>
			<div class="grid-extend">
				<p>2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quia ipsum ea incidunt harum asperiores. Quos optio sed id necessitatibus quisquam cupiditate. Minus soluta facere necessitatibus quos perspiciatis ad? Harum?</p>
			</div>
		</div>
		<div class="grid-check">
			<input type="radio" name="accDuvidas" id="accDuvidas-3" onclick="ClearRd(this)" />
			<label for="accDuvidas-3">
				<div class="grid">
					<div class="grid-content left">
						<div class="background_number">3</div>
						<h3>Programmierung</h3>
						<p>Lorem ipsum dolor sit amet</p>
						<span class="down"></span>
					</div>
					<div class="grid-content right" style="background-image: url({{ siteUrl }}img/coding.jpg)"></div>
				</div>
			</label>
			<div class="grid-extend">
				<p>3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quia ipsum ea incidunt harum asperiores. Quos optio sed id necessitatibus quisquam cupiditate. Minus soluta facere necessitatibus quos perspiciatis ad? Harum?</p>
			</div>
		</div>
		<div class="grid-check">
			<input type="radio" name="accDuvidas" id="accDuvidas-4" onclick="ClearRd(this)" />
			<label for="accDuvidas-4">
				<div class="grid">
					<div class="grid-content right">
						<div class="background_number">4</div>
						<h3>Livegang & Übergabe</h3>
						<p>Lorem ipsum dolor sit amet</p>
						<span class="down"></span>
					</div>
					<div class="grid-content left" style="background-image: url({{ siteUrl }}img/ready.jpg)"></div>
				</div>
			</label>	
			<div class="grid-extend">
				<p>4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quia ipsum ea incidunt harum asperiores. Quos optio sed id necessitatibus quisquam cupiditate. Minus soluta facere necessitatibus quos perspiciatis ad? Harum?</p>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>



{% endblock %}